@import 'tailwindcss';
@import 'tw-animate-css';
@import './fonts.css';

@import '@stylelist94/nine-beauty-actress/style.css';
@import '@stylelist94/nine-beauty-actress/tailwind-theme.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: 'Pretendard', sans-serif;
  --font-mono: 'Geist Mono Variable', monospace;
  --font-display: 'Geist Mono Variable', monospace;
  --font-hero: 'Space Grotesk Variable', sans-serif;
}

@layer base {
  * {
    @apply border-zinc-200 outline-zinc-400/50 dark:border-white/10 dark:outline-zinc-500/50;
  }
  body {
    @apply bg-white text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50;
  }
}
