@import 'tailwindcss';
@import 'tw-animate-css';

@import '@stylelist94/nine-beauty-actress/style.css';
@import '@stylelist94/nine-beauty-actress/tailwind-theme.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--astro-font-sans), sans-serif;
  --font-mono: var(--astro-font-mono), monospace;
  --font-display: var(--astro-font-mono), monospace;
  --font-hero: var(--astro-font-hero), sans-serif;
}

@layer base {
  * {
    @apply border-zinc-200 outline-zinc-400/50 dark:border-white/10 dark:outline-zinc-500/50;
  }
  body {
    @apply bg-white text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50;
  }
  .no-transitions *,
  .no-transitions *::before,
  .no-transitions *::after {
    transition: none !important;
  }
}

@keyframes easing-slide {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 2rem);
  }
}
