---
import { Button } from '@stylelist94/nine-beauty-actress';

import RootLayout from '@/layouts/root.astro';

interface Props {
  error: unknown;
}

const { error } = Astro.props;
---

<RootLayout>
  <div
    class="flex flex-col justify-center items-center gap-12 w-full max-w-125 h-screen mx-auto py-16 px-6 text-black dark:text-white"
  >
    <h2 class="text-2xl">뭔가 잘못되었습니다!</h2>

    {
      process.env.NODE_ENV === 'development' && (
        <div class="w-80 h-50 overflow-auto p-4 rounded-lg bg-neutral-50 dark:bg-neutral-900">
          <p>{error instanceof Error ? error.stack : 'Unknown error'}</p>
        </div>
      )
    }

    <div class="flex flex-col gap-4">
      <Button variant="link" size="lg" asChild>
        <a href="/">메인 페이지</a>
      </Button>
    </div>

    <div class="flex flex-col gap-2 select-none">
      <p class="flex items-end gap-0.5 font-display text-xl tracking-wide">
        StyleList94
        <span class="text-sm leading-relaxed tracking-wider">.DEV</span>
      </p>
    </div>
  </div>
</RootLayout>
