---
export const prerender = false;

import { MainContainer } from '@stylelist94/nine-beauty-actress';

import RootLayout from '@/layouts/root.astro';
import { TopContent } from '@/features/landing-hero';
import PageFooter from '@/shared/ui/page-footer.astro';

import '@/shared/styles/global.css';
---

<RootLayout>
  <MainContainer className="2xl:max-w-384">
    <div class="min-h-[150vh] -mt-6">
      <TopContent client:only="react" />
    </div>
  </MainContainer>
  <PageFooter />
</RootLayout>
