---
import { MainContainer, Footer } from '@stylelist94/nine-beauty-actress';

import { cn } from '@/lib/utils';

import Header from '@/components/header';

import RootLayout from './root.astro';
---

<RootLayout>
  <Header client:load />
  <MainContainer className="2xl:max-w-[96rem]">
    <slot />
  </MainContainer>
  <Footer>
    <div
      class:list={cn(
        'flex flex-col gap-3',
        'sm:flex-row sm:justify-between sm:gap-4',
        'text-zinc-950 dark:text-zinc-50',
      )}
    >
      <div class="flex items-center gap-4">
        <a
          href="https://blog.stylelist94.dev"
          target="_blank"
          rel="noopener noreferrer"
          class="text-sm"
        >
          Blog
        </a>
      </div>
    </div>
    <div>
      <p class="text-xs text-neutral-500 dark:text-neutral-400">
        © 2025.{' '}
        <a
          href="https://github.com/StyleList94"
          target="_blank"
          rel="noopener noreferrer"
        >
          @StyleList94
        </a>
      </p>
    </div>
  </Footer>
</RootLayout>
