---
import Head from '@/components/head.astro';
import Toaster from '@/components/ui/sonner';
import ThemeScript from '@/components/theme-script.astro';

import '@/styles/global.css';
---

<ThemeScript />

<html lang="ko">
  <Head />
  <body>
    <slot />
    <Toaster client:idle />
  </body>
</html>
