---
import Head from '@/shared/ui/head.astro';
import Toaster from '@/shared/ui/sonner';
import ThemeScript from '@/shared/ui/theme-script.astro';

import '@/shared/styles/global.css';
---

<ThemeScript />

<html lang="ko">
  <Head />
  <body>
    <slot />
    <Toaster client:only="react" />
  </body>
</html>
